<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="key" value ="eg3pj9do"/>
		<add key="url" value ="http://vindinium.org"/>
		<add key="map" value =""/>
		<add key="runs" value ="1"/>
		<add key="turns" value ="300"/>
		<add key="training" value ="true"/>
	</appSettings>
</configuration>
