<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="key" value ="cb2u8a21"/>
		<add key="url" value ="http://vindinium.org"/>
		<add key="map" value =""/>
		<add key="runs" value ="1"/>
		<add key="turns" value ="300"/>
		<add key="training" value ="true"/>
		<add key="maxtime" value ="100"/>
		<add key="maps" value ="C:\Code\GitHub\Vindinium\maps"/>
	</appSettings>
</configuration>