<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="key" value ="r7oifjt3"/>
		<add key="url" value ="http://vindinium.org"/>
		<add key="map" value =""/>
		<add key="runs" value ="1"/>
		<add key="turns" value ="50"/>
		<add key="training" value ="true"/>
		<add key="maxruns" value ="12000"/>
		<add key="maxtime" value ="700"/>
		<add key="run-parallel" value ="true"/>
		<add key="maps" value ="C:\Code\GitHub\Vindinium\maps"/>
		<add key="games" value ="C:\Code\GitHub\Vindinium\games"/>
	</appSettings>
</configuration>
